<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser_frame"/>
        <origin xyz= "0.1 0 0.175" rpy="0 0 0"/>


    </joint>

    <link name="laser_frame"/>
       <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>

            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>

            </geometry>
    
        </collision>
        <xacro:inertial_cylinder mass="0.1" radius="0.05" length="0.04">
            <origin xyz= "0 0 0" rpy="0 0 0" />
        </xacro:inertial_cylinder>
    </link>

</robot>
